@model IEnumerable<Rino.Models.software>
@using Microsoft.AspNetCore.Http;
  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mostrar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Os</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in ViewData["programa"] as IList<software>)
                {

                <tr>
                  <td scope="row">@item.nombre</td>
                  <td>@item.os</td>
                </tr>
                }
            </tbody>
          </table>
        </div>
      </div>
     @ViewData["individual"].ToString()
    <hr>
    <br>
     @ViewData["total"]  
     <hr>
     <br>
     
        @ViewData["selecionar"]
     @{
       var dinamico =@ViewData["numeros"];
       dinamico = 2;
      }

      @{
        ViewBag.numeros = 3;
      }
     
     <hr>
     <br>
     @dinamico
      @ViewBag.numeros;
    
    </div>
    @ViewData["fecha"]
  </body>

  </html>